version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: medical87
      POSTGRES_DB: medicaldb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  backend:
    build: .
    depends_on:
      - db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: medical87
      POSTGRES_DB: medicaldb
      POSTGRES_HOST=db
      POSTGRES_PORT=5432
    ports:
      - "8000:8000"
volumes:
  pgdata:
